<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>185756170449-stck44m9rvunti2nvpbn0960k3ct20p4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.185756170449-stck44m9rvunti2nvpbn0960k3ct20p4</string>
	<key>API_KEY</key>
	<string>AIzaSyDtcBJq-lD-JZRtSi-wCL1qyFwY75QhxSQ</string>
	<key>GCM_SENDER_ID</key>
	<string>185756170449</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.stationLocator</string>
	<key>PROJECT_ID</key>
	<string>station-locator-f8ee0</string>
	<key>STORAGE_BUCKET</key>
	<string>station-locator-f8ee0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:185756170449:ios:5109b7382131a3ef6fadf0</string>
	<key>DATABASE_URL</key>
	<string>https://station-locator-f8ee0.firebaseio.com</string>
</dict>
</plist>